@use "../variables.scss" as *;

.defaultButton {
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 10px 20px;
  background-color: $sub-color1;
  border: 1px solid;
  border-color: $main-color;
  font-family: $font-regular;
  font-size: $font-size-regular;
  color: $main-color;

  &.uppercase {
    text-transform: uppercase;
  }

  &.lowercase {
    text-transform: lowercase;
  }

  &.capitalize {
    text-transform: capitalize;
  }

  &.negative {
    background-color: $main-color;
    color: $sub-color1;
  }

  &:hover {
    background-color: $main-color;
    color: $sub-color1;

    &.negative {
      background-color: $sub-color1;
      color: $main-color;
    }
  }
}
