@use "../variables.scss" as *;

.panelContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 250px;
  width: 100%;

  .timeStampsList {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 10px;
      width: auto;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #aaa4;
    }

    button {
      cursor: pointer;
      padding: 7px 20px;
      min-width: 120px;
      background-color: transparent;
      border: none;
      border-bottom: 1px #b1b1b1 solid;
      transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);

      span {
        white-space: nowrap;
        font-size: $font-size-regular;
      }

      &.selected {
        border-bottom-color: $sub-color2;
      }

      &:hover {
        span {
          text-decoration: line-through;
          text-decoration-color: $sub-color2;
        }
      }

      &.selected:hover {
        span {
          text-decoration: none;
        }
      }
    }
  }

  .timeStampDetails {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .subtitle {
      text-transform: capitalize;
      font-size: $font-size-big;
    }

    .dates {
      font-size: $font-size-small;
    }

    .description {
      list-style-type: none;
      padding-left: 0;

      li {
        padding-left: 25px;
        margin-bottom: 10px;
        position: relative;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;
          border-bottom: 1px solid $sub-color2;
          width: 15px;
          margin-top: 13px;
        }
      }
    }
  }
}

@media (min-width: $sm-width) {
  .panelContainer {
    align-items: center;

    .timeStampsList {
      justify-content: center;
    }

    .timeStampDetails {
      width: 500px;
    }
  }
}

@media (min-width: $lg-width) {
  .panelContainer {
    flex-direction: row;
    align-items: unset;
    justify-content: center;

    .timeStampsList {
      flex-direction: column;
      justify-content: flex-start;
      width: 170px;

      button {
        border: none;
        border-left: 1px #b1b1b1 solid;

        span {
          white-space: unset;
        }

        &.selected {
          border-left-color: $sub-color2;
        }
      }
    }

    .timeStampDetails {
      margin-top: 0;
    }
  }
}

@media (min-width: $xl-width) {
  .panelContainer {
    .timeStampDetails {
      width: 650px;
    }
  }
}

@media (min-width: $xxl-width) {
  .panelContainer {
    .timeStampDetails {
      width: 800px;
    }
  }
}
