@use '../variables.scss' as *;

.panelContainer {
  display: flex;
  flex-direction: column;

  .timeStampsList {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow-x: auto;

    button {
      padding: 7px 13px 7px 13px;
      background-color: transparent;
      border: none;
      border-bottom: 2px #868686 solid;
      
      span {
        white-space: nowrap;
        font-size: $font-size-regular;
      }
    }
  }
  .timeStampDetails {
    display: flex;
    flex-direction: column;
  }
}
