@use "../variables.scss" as *;

.smallTitleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &.left {
    flex-direction: row-reverse;
  }

  &.right {
    flex-direction: row;
  }

  .line {
    display: none;
    height: 1px;
    width: 50vw;
  }

  .text {
    width: auto;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-regular;
    font-size: $font-size-big;
  }
}

@media (min-width: $sm-width) {
  .smallTitleContainer {
    .text {
      &.leftText {
        margin-left: 0;
        margin-right: 15px;
      }

      &.rightText {
        margin-left: 15px;
        margin-right: 0;
      }
    }

    .line {
      display: block;
    }
  }
}
