@use "./variables.scss" as *;

.fullView {
  height: 100vh;
  width: 100%;
  color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/lyon_blackwhite.jpg");
  background-size: cover;
  background-position: center;

  button {
    margin-top: 50px;
  }

  .content-container {
    margin-top: 150px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
      margin: 0;
      list-style-type: none;
      padding-left: 0;

      li {
        position: relative;
        padding-left: 25px;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;
          border-bottom: 1px solid $sub-color2;
          width: 15px;
          margin-top: 13px;
        }
      }
    }
  }
}

@media (min-height: 750px) {
  .fullView {
    .content-container {
      margin-top: 200px;
    }
  }
}

@media (min-height: 850px) {
  .fullView {
    .content-container {
      margin-top: 230px;
    }
  }
}

@media (min-height: 950px) {
  .fullView {
    .content-container {
      margin-top: 280px;
    }
  }
}

@media (min-height: 1080px) {
  .fullView {
    .content-container {
      margin-top: 320px;
    }
  }
}
