$main-color: #000;
$sub-color1: #fff;
$sub-color2: #134c97;
$font-regular: "RubikRegular";
$font-bold: "RubikBold";
$font-italic: "RubikItalic";
$font-bold-italic: "RubikBoldItalic";
$font-size-small: 13px;
$font-size-regular: 16px;
$font-size-big: 22px;
$sm-width: 640px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1280px;
$xxl-width: 1536px;
