$main-color: #000000;
$sub-color1: #FFFFFF;
$sub-color2: #9C95DC;

$font-regular: 'RubikRegular';
$font-bold: 'RubikBold';
$font-italic: 'RubikItalic';
$font-boldItalic: 'RubikBoldItalic';

$font-size-regular: 16px;
$font-size-big: 22px;
