$main-color: #000000;
$sub-color1: #FFFFFF;
$sub-color2: #134C97;

$font-regular: 'RubikRegular';
$font-bold: 'RubikBold';
$font-italic: 'RubikItalic';
$font-boldItalic: 'RubikBoldItalic';

$font-size-small: 13px;
$font-size-regular: 16px;
$font-size-big: 22px;

$sm-width: 640px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1280px;
$xxl-width: 1536px;
